* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

body > h1{
  margin: 25px;
}

body > section{
  width: 820px;
  display: flex;
  padding: 10px 0 10px 10px;
}

.inputSct{
  flex-direction: column;
}

.inputDiv{
  width: 800px;
  height: 40px;
}

#div1, #div2, #div3{
  display: flex;
  flex-direction: row;
}

#div11, #div12, #div21, #div22, #div31, #div32, #div4, #div5, #div6{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#div11, #div12, #div21, #div22, #div31, #div32{
  width: 350px;
  flex-grow: 0;
}

.inputName{
  display: inline-block;
  width: 110px;
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#inputWidth, #inputHeight, #inputFontSize{
 width: 110;
 height: 24px;
}

#inputColor, #inputBackgroundColor, #inputText{
  flex-grow: 1;
  height: 24px;
}


/* 버튼색션 */

.btnSct{
  display: flex;
  justify-content: center;
}

/* 출력박스 */
.mainSct{
  display: flex;
  justify-content: center;
}


.outSpan{
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 200px;
  height: 400px;
  font-size: 20;
  font-weight: none;
  text-align: right;
  background-color: yellow;
  color: red;
  border: 3px solid black;

}